html {
  font-size: 60%;
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
}

img {
  width: 300px;
}

.header {
  background-color: #4169E1;
  height: 80px;
  .menu {
    background-color: #696969;
    height: 50px;

    .links {
      font-size: 1.5rem;
      color: white;
      text-decoration: none;
      padding: 5px 10px;
    }

  p {
    vertical-align: bottom;
    text-align: right;
    font-size: 1rem;
    color: white;
    margin: 0px 20px;
    }
  }
}

#head_title {
  position: relative;
  font-family: fantasy;
  font-size: 5rem;
  color: white;
  text-align: center;
  margin-top: 0px;
}

.content_area {
  width: 100%;
  min-height: 100%;
  padding: 40px 50px;

  .notification{
    color: #000;
    font-size: 2rem;
    text-align: center;
    margin: 20px;
  }
}

.footer {
 background-color: #ee9e26;
 height: 50px;
 width: 100%;
 position: relative;
 bottom: 0;
 display: table;
}

.footer p {
 font-size: 1rem;
 color: #fff;
 text-align: center;
 vertical-align: middle;
 display: table-cell;
}